<div class="sidebar-left">
  <div class="navbar">
    <ul class="nav">
      
      <li>
        <% if ( current_user.can?("view", "coupons")) %>
          <% if request.path == "/coupons" %>
            <%= link_to "All Coupons", coupons_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "All Coupons", coupons_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("create", "coupons")) %>
          <% if request.path == "/coupons/new" %>
            <%= link_to "New Coupon", new_coupon_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "New Coupon", new_coupon_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>

      </li>
    </ul>
  </div>
</div>