<div class="sidebar-left">
  <div class="navbar">
    <ul class="nav">
      
      <li>
        <% if request.path == "/customers" %>
          <%= link_to "Coupons", coupons_path, class: "active nav-item" %><span class="active-arrow"></span>
        <% else %>
          <%= link_to "Coupons", coupons_path, class: "nav-item" %>
        <% end %>
      </li>

      </li>
    </ul>
  </div>
</div>