<div class="sidebar-left">
  <div class="navbar">
    <ul class="nav">
      <li>
        <% if request.path == login_path %>
          <%= link_to "Log In", new_product_path, class: "active nav-item" %><span class="active-arrow"></span>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-item" %>
        <% end %>
      </li>
      <li>
        <% if request.path == signup_path %>
            <%= link_to "New User", signup_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "New User", signup_path, class: "nav-item" %>
        <% end %>          
      </li>
    </ul>
  </div>
</div>