  <div class="sidebar-left">
    <div class="navbar">
      <ul class="nav">
        <li><a href="order-new.html" class="nav-item">Dashboard Design</a></li>
        <li><a href="order-pending.html" class="active nav-item">Alternate Dashboard</a><span class="active-arrow"></span></li>
        <li><a href="orders.html" class="nav-item">View Orders</a></li>
      </ul>
    </div>
  </div>