<%= render 'bars/top2' %>
<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/loginside' %>
  	<div class="container main-content">
		<h1>Editing User</h1>
          <% 
          # Check capabilities
          if ( !logged_in? || (!current_user.can?("edit", "users") && current_user != @user)) %>
          <p> Sorry, you don't have the capabilities to do this </p>
        <% else %>     
		<%= render 'form', user: @user %>
		<% end %>

	</div>
</div>
