<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/couponside' %>
    <div class="container main-content">
    
      <%= render 'coupons/form' %>


    </div>
  </div>
</body>