<%= render 'default/head' %>
<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/custside' %>
    <div class="container main-content">

      <h1>Editing Customer</h1>
      
      <%= render 'form', customer: @customer %>
      
    </div>
  </div>
</body>