<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/custside' %>
    <div class="container main-content">
      <h1>New Customer</h1>
      
      <%= render 'form', customer: @customer %>
      
      <%= link_to 'Back', customers_path %>
    </div>
  </div>
</body>