<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/custside' %>
    <div class="container main-content">
      <h1>New Customer</h1>
      <% # Check capabilities
		if ( !logged_in? || !current_user.can?("create", "customers")) %>
		<p> Sorry, you don't have the capabilities to do that </p>
		<% else %>
      	<%= render 'form', customer: @customer %>
      <% end %>
    </div>
  </div>
</body>