<tbody>
  <% @options.where(category_id: @products.find(p).category_id).each do |e| %>
    <tr>
        <td><%= check_box_tag "options[]", e.id %></td>
    </tr>
    <%= e.Name %>
  <% end %>
</tbody>