<tbody>
  Left Half:
  <br>
  <% @options.where(category_id: @products.find(p).category_id).each do |e| %>
    <tr>
        <td><%= check_box_tag "options1[]", e.id %></td>
    </tr>
    <%= e.Name %>
  <% end %>
  <br>
  Right Half:
  <br>
  <% @options.where(category_id: @products.find(p).category_id).each do |e| %>
    <tr>
        <td><%= check_box_tag "options2[]", e.id %></td>
    </tr>
    <%= e.Name %>
  <% end %>
</tbody>