<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">

      <h1>Delivery Orders</h1>
      <% if !@orders.empty? %>
        <%= render 'pending', orders: @orders %>
      <% else %>
        <h2>No delivery orders found</h2>
      <% end %>
    </div>
  </div>
</body>