<%= render 'bars/top2' %>

<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/rolesside' %>
  <div class="container main-content">

		<h1>Editing Capability</h1>
		<%= render 'form', cap: @cap %>

	</div>
</div>
