<%= render 'bars/top2' %>
<div class="wrapper has-sidebar-left">
<%= render 'sidebars/refundside' %>
<div class="container main-content">
	<h1>Editing Refund for Order # <%= @order.id %></h1>
	<%= render 'form', refund: @refund %>
	</div>
</div>